html, body {
  margin: 0; /* Eltávolítja az alapértelmezett margókat */
  padding: 0; /* Eltávolítja az alapértelmezett paddingot */
  height: 100%; /* Az oldal teljes magasságát lefedi */
  overflow: hidden; /* Megakadályozza a görgetést */
}

body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-image: url(background.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 20px;
  opacity: 1;
  transition: opacity 0.5s ease; /* Az animáció időtartama és típusa */
  transform: translateX(0); /* Alaphelyzetben nincs eltolás */
  transition: transform 0.5s ease; /* Az animáció időtartama és típusa */
}

body.fade-out {
  opacity: 0; /* Az oldal áttetszővé válik */
}

body.slide-out {
  transform: translateX(-100%); /* Az oldal balra csúszik ki */
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
  gap: 20px;
  width: 100%;
  max-width: 1300px;
}

h1, h3, h4 {
  text-align: center;
  margin-bottom: 30px;
  color: #F1D086;
}

h2 {
  margin-top: 10px; /* Csökkentett margó a h1 alatt */
  margin-right: 0; /* Jobbra igazítás eltávolítása */
  text-align: center;
  margin-bottom: 30px;
  color: #F1D086;
} 

input, select, button {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  margin-bottom: 20px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
}

input, select {
  background-color: #142035;
  color: white;
}

input::placeholder {
  color: #ccc;
}

button {
  background-color: #11336C;
  color: #F0D081;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #F0D081;
  color: #11336C;
}

input:disabled, select:disabled, button:disabled {
  background-color: #ccc;
  color: #666;
  cursor: not-allowed;
}

.match-card {
  background-color: rgba(255,255,255,0.05);
  padding: 10px;
  margin: 5px 0;
  border-radius: 8px;
}

.logout-btn {
  margin: 20px auto 0;
  display: block;
  width: 60%;
  background: #c90c0c;
  color: black;
}

.logout-btn:hover {
  color: #c90c0c;
  background-color: black;
}


@media (max-width: 900px) {
  .flex-container {
    flex-direction: column;
    align-items: stretch;
  }

  .container {
    max-width: 100% !important;
  }
}

#matchList button {
  background-color: #142035;
  color: #F1D086;
  border: 1px solid #334;
  padding: 10px;
  width: 100%;
  text-align: left;
  margin-bottom: 8px;
  border-radius: 6px;
  transition: background-color 0.2s ease;
}

#matchList button:hover {
  background-color: #1b2a45;
}

.match-button {
  padding: 10px 15px;
  background-color: #f0f0f0;
  border: none;
  cursor: pointer;
  font-weight: bold;
  border-radius: 5px;
  transition: background-color 0.3s;
}
.match-button:hover {
  background-color: #ddd;
}

.right-menu {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  gap: 20px;
}

.menu-button {
  background: #11336C;
  border: none;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  border-bottom: 2px solid #F1D086;
  padding-bottom: 5px;
  color: #F1D086;
  transition: color 0.3s, border-bottom-color 0.3s;
}
.menu-button:hover {
  background-color: #F1D086;
  color: #11336C;
  border-bottom-color: #fff;
}


.match-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}

.match-button {
  padding: 8px 10px;
  background-color: #11336C;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  color: #F1D086;
  cursor: pointer;
  transition: all 0.3s ease;
}

.match-button:hover {
  background-color: #F1D086;
  color: #11336C;
  transform: scale(1.05);
}

.match-button.locked {
  background-color: #ccc;
  color: #666;
  cursor: not-allowed;
}

.main-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  gap: 50px;
  width: 100%;
  max-width: 1650px;
}

.main-header {
  display: flex;
  flex-direction: column; /* Az elemek egymás alá kerülnek */
  align-items: center; /* Középre igazítás vízszintesen */
  justify-content: center; /* Középre igazítás függőlegesen */
  color: white;
  padding: 20px 10px; /* További padding a szebb elrendezéshez */
  text-align: center;
  margin-bottom: 50px; /* Csökkentett margó az alatta lévő tartalomhoz */
}

.main-header h1 {
  margin: 0;
  font-size: 2rem;
}


.result-buttons {
  display: flex !important;
  justify-content: center;
  gap: 10px;
  margin-top: 5px !important;
  margin-bottom: 5px !important;
  padding: 0 !important;
  position: static !important;
}


.result-buttons label {
  cursor: pointer;
}

.result-buttons input[type="radio"] {
  display: none; /* Elrejtjük az alapértelmezett rádiógombot */
}


.start-page {
  display: flex;
  flex-direction: column;
  align-items: center; /* Középre igazítás vízszintesen */
  justify-content: center; /* Középre igazítás függőlegesen */
  height: 100vh; /* Az oldal teljes magasságát lefedi */
  text-align: center;
  position: relative; /* Pozíció finomhangolása */
}

.start-page .logo-icon {
  width: 400px; /* Logó szélessége */
  height: 400px; /* Logó magassága */
  display: block; /* Biztosítja, hogy az ikon blokk szintű legyen */
  position: relative;
  top: -100px; /* A logót kicsit feljebb tolja */
}

.start-page .start-button {
  padding: 15px 30px; /* Nagyobb gombméret */
  font-size: 20px; /* Nagyobb betűméret */
  font-weight: bold;
  color: #F1D086;
  background-color: #11336C;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-align: center;
  position: relative;
  top: -50px; /* A gombot feljebb tolja az oldal közepére */
}

.start-page .start-button:hover {
  background-color: #F1D086;
  color: #11336C;
}